:root{
    --primary-color: #0673c6;
    --primary-color-light: #9bd3f8;
    --primary-color-hard: #004695;
    --secondary-color: #c65906;
    --secondary-color-light: #e7b452;
    --accent-color: #ef007e;
    --blanco-1: #ffff;
    --blanco-2: #d8d7d7;
    --blanco-3: #f5f5f5;
    --gris-1: #e6e3e3;
    --gris-2: #3f3f3f;
    --gris-3: #636262;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gotham', sans-serif;
    font-display: swap;
}