/*MENÚ*/

.contenedor-menu{
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: grid;
}

.menu{
    justify-self: end;
}

@media (max-width: 600px) {
    .menu{
        justify-self: center;
    }
  }

.elemento-menu{
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--blanco-1);
    align-self: center;

    transition-property: color, border, background-color;
    transition-duration: 60ms;
    transition-delay: 60ms;
    
}

.elemento-menu:hover{
    background-color: rgb(236, 234, 234);
    border: solid var(--primary-color-hard);
    color: var(--primary-color-hard);

    transition-property: color, border, background-color;
    transition-duration: 60ms;
    transition-delay: 60ms;
}