/*COLOR Y SETEOS GENERALES SE MODIFICAN DESDE color-y-seteos-generales.css*/

html { /*Esto es para que el footer se quede abajo*/
    min-height: 100%;
    position: relative;
}

body{
    background-image: url(../../images-index/background-01.webp);
    background-size: contain;
}

@media (max-width: 600px) {
    body{
        background-image: url(../../images-index/background-01.webp);
        background-size: auto;
    }
}

/*BACK MENU (se toca desde el css "style-back-menu.css" ubicado en la carpeta secciones*/

/*HEADER*/

.header{
    width: 100%;
    margin: auto;
    display: grid;
}

.imagen-header{
    width: 100%;
    height: 10rem;
    position: absolute;
}

.contenedor-fotoportada{
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    display: grid;
    z-index: 1;
}

.foto-portada{
    width: 9rem;
    margin-top: 1rem;
    justify-self: start;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .imagen-header{
        height: 8rem;
    }
    .foto-portada{
        width: 8rem;
        justify-self: center; 
    }
  }


/*NOMBRE DE PÁGINA Y PRESENTACIÓN*/ 

.contenedor-nombre-pagina-y-bajada{
    width: 90%;
    margin: auto;
    display: grid;
}

.nombre-pagina{
    font-size: 2.5rem;
    justify-self: center;
    color: var(--gris-2);
    text-align: center;
}

@media (max-width: 600px) {
    .nombre-pagina{
        font-size: 2rem;
        margin-top: 1rem;
    }
  }

  .contenedor-presentacion{
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
    color: var(--gris-2);
    display: grid;
    grid-gap: 1.5rem;
}


.contenedor-presentacion h2{
    font-weight: 400;
    text-align: center;
    color: var(--gris-3);
}

.hipervinculo{
    font-weight: 800;
    color: var(--primary-color);
    text-decoration: none;
}

.hipervinculo:hover{
    color: var(--accent-color);
}

/*CONTENEDOR BLOG*/

.titulo-novedades{
    width: 90%;
    margin: auto;
    color: var(--gris-2);
    margin-top: 1.5rem;
}

/*FOOTER*/

footer{
    width: 100%;
    display: grid;
    margin: auto;
    background-color: var(--primary-color);
    height: 2rem;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;

}


.copy{
    color: white;
}