/*COLOR Y SETEOS GENERALES SE MODIFICAN DESDE color-y-seteos-generales.css*/

html { /*Esto es para que el footer se quede abajo*/
    min-height: 100%;
    position: relative;
}

body{
    background-image: url(../../images-index/background-01.webp);
    background-size: contain;
}

@media (max-width: 600px) {
    body{
        background-image: url(../../images-index/background-01.webp);
        background-size: auto;
    }
}


/*HEADER*/

/*HEADER*/

.header{
    width: 100%;
    margin: auto;
    display: grid;
}

.imagen-header{
    width: 100%;
    height: 10rem;
    position: absolute;
}

.contenedor-fotoportada{
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    display: grid;
    z-index: 1;
}

.foto-portada{
    width: 9rem;
    margin-top: 1rem;
    justify-self: start;
    border-radius: 50%;
    border: solid 3px white;   
}


@media (max-width: 600px) {
    .imagen-header{
        height: 8rem;
    }
    .foto-portada{
        width: 8rem;
        justify-self: center; 
    }
  }

/*Contenedor nombre página y presentación*/

.contenedor-presentacion{
    width: 90%;
    margin: auto;
    display: grid;
   
    color: var(--gris-2);
    position: relative;
    bottom: 2rem;
    
}

@media (max-width: 600px) {
    .contenedor-presentacion{
        margin-bottom: 2.5rem;
        position: relative;
        top: 1.5rem;
    }
  }

.nombre-pagina{
    font-size: 2.5rem;
    justify-self: center;
    text-align: center;
    color: var(--gris-2);
}

@media (max-width: 600px) {
    .nombre-pagina{
        font-size: 2rem;
    }
  }

.presentacion{
    width: 100%;
    margin: auto;
    margin-top: 0.5rem;
    display: grid;
    grid-gap: 1.5rem;
}

.presentacion h2{
    font-weight: 400;
    text-align: center;
    color: var(--gris-3);
}

/*Bloques Generales*/

.bloques{
    width: 90%;
    min-height: 14rem;
    grid-gap: 2rem; 
    margin: auto; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

@media (max-width: 600px) {
    .bloques{
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    }
}

.bloques{
   margin-bottom: 4rem;
}

@media (max-width: 600px) {
    .bloques{
        margin-bottom: 1.5rem;
     }
}

/*Botones mapas y guías*/

.contenedores{

    background-color: var(--blanco-1);
    background-size: cover;
    width: 100%;
    max-width: 43rem; 
    min-height: 13rem; 
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.3rem rgb(99, 99, 99);
}

/*Botones*/

.animacion-contenedores{
    text-decoration: none;
    width: 100%;
    height: 100%;
}

@media (min-width: 600px) {
    .animacion-contenedores :hover{
        transform: rotate(-2deg);
    }
}

.contenedores{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 1rem;
}

.titulo-botones{
    font-family: 'Gotham black', sans-serif;
    font-size: 1.5rem;
    color: var(--blanco-1);
}

.texto-botones{
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    color: var(--blanco-1);
    align-self: end;
}

.titulos{
    width: 90%;
    margin: auto;
    color: var(--gris-2);
    margin-bottom: 1.5rem;
}

.contenedor-monto-y-boton-pagar{
    width: 100%;
    margin: auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.boton-pagar{
    justify-self: end;
    align-self: center;
}

.monto{
    font-size: 1.5rem;
    color: var(--blanco-1);
    align-self: center;
}

@media (max-width: 600px) {
    .monto{
        font-size: 1.2rem;
    }
}

.bloque-guias{
    margin-bottom: 6rem;
}

/*FOOTER*/

footer{
    width: 100%;
    display: grid;
    margin: auto;
    background-color: var(--primary-color);
    height: 2rem;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;

}


.copy{
    color: white;
}