/*COLOR Y SETEOS GENERALES SE MODIFICAN DESDE EL ARCHIVO color-y-seteos-generales.css*/

/*BACKGROUND CON TRAMA DE VIAJES*/

body{
    background-image: url(../../images-index/background-01.webp);
    background-size: contain;
}

@media (max-width: 600px) {
    body{
        background-image: url(../../images-index/background-01.webp);
        background-size: auto;
    }
  }


/*HEADER*/

.header{
    width: 100%;
    height: 12rem;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--blanco-1);;
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;

}

@media (max-width: 600px) {
    .header{
        padding-top: 5.5rem;
        padding-bottom: 7.5rem;
        grid-gap: 0.7rem;
    }
  }

h1{
    width: 90%;
    margin: auto;
    color: var(--blanco-1);;
    text-align: center;
}

.autor{
    width: 90%;
    margin: auto;
    color: var(--blanco-1);;
    text-align: center;
    font-style: italic;
}

/*TEXTO*/

.contenedor-texto-relacionados{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h2{
    color: var(--gris-2);
    margin-bottom: 1.5rem;
}

h3{
    color: var(--gris-2);
    margin-bottom: 1.5rem;
}

h4{
    color: var(--gris-2);
    margin-bottom: 1.5rem;
}

.section-texto{
    width: 90%;
    margin: auto;

    display: grid;
}

.parrafo{
    color: var(--gris-2);
    text-align: justify;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.alinear-al-centro{
    text-align: center;
}

.centrar{
    justify-self: center;
}

.italic{
    font-style: italic;
}

.semi-bold{
    font-weight: 500;

}

.bold{
    font-weight: 700;
}

.agrandar-tipografia{ /*Lo usamos por ejemplo en las comillas de las declaraciones de los escritores invitados. Oara ejemplo, ver escrito de Deborah de Ilha Grande*/
    font-size: 2rem;
}

.hipervinculo{
    color: var(--primary-color);
    text-decoration: none;
}

.hipervinculo:hover{
    text-decoration-line: underline;
    color: var(--accent-color);
}

.hipervinculo-boton{
    justify-self: center;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
}

.hipervinculo-boton:hover{
    color: var(--accent-color);
    border: solid 1px var(--accent-color);
}

.boton-general{
    width: fit-content;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--blanco-1);;
    display: flex;
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

.boton-general:hover{
    background-color: var(--primary-color-hard);
}

.imagen-texto{ /*Son las imágenes de las paginas*/
    width: 100%;
    max-width: 40rem;
    min-width: 10rem;
    justify-self: center;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .imagen-texto{
        border-radius: 0px;
    }
  }

.achicar-imagen-texto{
    max-width: 25rem;
    min-width: 10rem;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .achicar-imagen-texto{
        width: 100%;
        max-width: 40rem;
        min-width: 10rem;
        border-radius: 0px;
    }
}

.contenedor-varias-imagenes{
    width: 100%;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 17rem));
    justify-content: center;
}

.imagen-texto-varias-imagenes{
    width: 17rem;
    border-radius: 10px;
    margin: auto;
}

.bajada-imagen{
    width: 40%;
    margin: auto;
   justify-self: center;
   margin-top: 0.5rem;
   font-size: 0.9rem;
   margin-bottom: 1.5rem;
   text-align: center;
}

@media (max-width: 600px) {
    .bajada-imagen{
        width: 90%;
    }
  }

.videos{
    width: 560px;
    height: 315px;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
    .videos{
        width: 330px;
        height: 115px;
    }
  }

/*LISTAS*/

.lista{
    width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;
    color: var(--gris-2);
    line-height: 1.5rem;
}

/*MAPAS*/

.mapas{
    width: 30rem;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

@media (max-width: 700px) {
    .mapas{
        width: 20rem;
        height: 20rem;
        justify-self: center;
        border-radius: 10px;
    }
  }

/*CONTENEDOR POEMA O DECLARACIÓN*/

.contenedor-poema-o-declaracion{
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    background-color: var(--blanco-1);
    border-radius: 10px;
    padding: 1rem;
    color: var(--accent-color);
    border: solid 1px var(--accent-color);
}

.poema-o-declaracion{
    margin: auto;
    font-size: 0.8rem;
    text-align: center;
    font-style: italic;
}

/*CARTEL DE AVISO*/

.cartel{
    width: 100%;
    margin: auto;
    margin-bottom: 1.5rem;
    background-color: var(--blanco-1);
    border-radius: 10px;
    padding: 1rem;
    color: var(--accent-color);
    border: solid 1px var(--accent-color);
    text-align: center;
   
}

.cartel-amarillo{
    color: rgb(153, 153, 2);
    border: solid 1px rgb(207, 207, 21);
    
}

.cartel-verde{
    color: rgb(5, 80, 5);
    border: solid 1px rgb(16, 172, 16);
    
}

.cartel-rojo{
    color: red;
    border: solid 1px red;
    
}

/*LOS DE ABAJO SON BOTONES SOLO PARA LAS PÁGINAS DE BRASIL QUE CONTIENE LA HISTORIA DE ILHA GRANDE, RÍO Y ETC.*/

.botones-brasil{
    width: 90%;
    margin: auto;
    display: flex;
    grid-gap: 1rem;
    justify-content: center;
}

.boton-brasil{
    width: fit-content;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--blanco-1);;
    display: flex;
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

.boton-brasil:hover{
    background-color: var(--primary-color-hard);
}


/*RELACIONADOS*/

.section-relacionados{
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
}

.contenedor-relacionados{
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(Auto-fill, minmax(17rem, 1fr));
}

.caja-relacionados{
    height: 2rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--blanco-1);;

    display: grid;
    justify-items: center;
    align-items: center;
}

.caja-relacionados:hover{
    background-color: var(--primary-color-hard);
}

/*FOTOS DE PERFIL DE ESCRITORES INVITADOS*/

.fotos-de-perfil-escritores{
    width: 13rem;
    border-radius: 50%; 
    border: solid 4px var(--primary-color);
}

/*ÍNDICES*/

.contenedor-botones-indice{
    width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.botones-indice{
    height: 1.3rem;
    font-size: 0.7rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);

    display: grid;
    justify-items: center;
    align-items: center;
}

.botones-indice:hover{
    color: var(--accent-color);
    border: solid 1px var(--accent-color);
}

/*DIVISIONES*/

.linea-divisoria{
    background-color: var(--gris-1);
    width: 100%;
    height: 0.2rem;
    margin-bottom: 1.5rem;
}

.linea-divisoria-pequena{
    background-color: var(--gris-1);
    width: 50%;
    margin: auto;
    height: 0.2rem;
    margin-bottom: 1.5rem;
}

/*FOOTER*/

footer{
    width: 100%;
    display: grid;
    margin: auto;
    margin-top: 2rem;
    background-color: var(--primary-color);
    height: 2rem;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 1;

}

.copy{
    color: var(--blanco-1);;
}


