/*MENÚ*/

.back{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    padding: 0.1rem;
    font-weight: bold;
    color: var(--blanco-1);
    text-decoration: none;
    z-index: 1;
}

.back:hover{
    color: rgb(216, 213, 213);
}

@media (min-width: 600px) {
    .back{
        top: 2rem;
        left: 1rem;
    }
  }

.contenedor-menu{
    width: 100%;
    margin: auto;
    padding: 1.5rem;
    display: grid;

    position: fixed;
    top: 1rem;
}

@media (max-width: 600px) {
    .contenedor-menu{
        padding: 0.7rem;
        background-color: rgba(10, 10, 10, 0.096);
        top: 0rem;
    }
  }

.menu{
    justify-self: end;
    display: flex;
    grid-gap: 0.4rem;
}

@media (max-width: 600px) {
    .menu{
        justify-self: center;
    }
  }

.elemento-menu{
    font-size: 2rem;
    background-color: var(--blanco-1);;
    padding: 0.5rem;
    border-radius: 10px;
    border: solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--blanco-2);
    text-decoration: none;
    display: grid;

    transition-property: color, border, background-color;
    transition-duration: 60ms;
    transition-delay: 60ms;
    
}

.elemento-menu:hover{
    background-color: rgb(236, 234, 234);
    border: solid var(--primary-color-hard);
    color: var(--primary-color-hard);

    transition-property: color, border, background-color;
    transition-duration: 60ms;
    transition-delay: 60ms;
}

.icono-menu{
    justify-self: center;
    align-self: center;
}