/*MODIFICA la página principal del blog*/

/*COLOR Y SETEOS BÁSICOS DESDE EL ARCHIVO color-y-seteos-generales.css*/

html { /*Esto es para que el footer se quede abajo*/
    min-height: 100%;
    position: relative;
}

body{
    background-image: url(../../images-index/background-01.webp);
    background-size: contain;
}

@media (max-width: 600px) {
    body{
        background-image: url(../../images-index/background-01.webp);
        background-size: auto;
    }
}

/*HEADER*/

.header{
    width: 100%;
    margin: auto;
    display: grid;
}

.imagen-header{
    width: 100%;
    height: 10rem;
    position: absolute;
}

.contenedor-fotoportada{
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    display: grid;
    z-index: 1;
}

.foto-portada{
    width: 9rem;
    margin-top: 1rem;
    justify-self: start;
    border-radius: 50%;
    border: solid 3px white;   
}


@media (max-width: 768px) {
    .foto-portada{
        justify-self: center;
        margin-top: -2.5rem;
    }
  }
  

/*CONTENEDOR NOMBRE DE PÁGINA Y PRESENTACION*/

.contenedor-presentacion{
    width: 90%;
    margin: auto;
    display: grid;
   
    color: var(--gris-2);
    position: relative;
    bottom: 2rem;
    
}

@media (max-width: 768px) {
    .contenedor-presentacion{
        margin-top: 3rem;
    }
  }

.parrafo{
    line-height: 1.5rem;
    text-align: center;
}

.nombre-pagina{
    font-size: 2.5rem;
    justify-self: center;
    text-align: center;
    color: var(--gris-2);
}

.presentacion{
    width: 100%;
    margin: auto;
    margin-top: 0.5rem;
    display: grid;
    grid-gap: 1.5rem;
}

.presentacion h2{
    font-weight: 400;
    text-align: center;
    color: var(--gris-3);
}

/*FOOTER*/

footer{
    width: 100%;
    display: grid;
    margin: auto;
    background-color: var(--primary-color);
    height: 2rem;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;

}


.copy{
    color: white;
}