/*COLORES Y SETEOS GENERALES SE MODIFICAN DESDE color-y-seteos-generales.css*/

html { /*Esto es para que el footer se quede abajo*/
    min-height: 100%;
    position: relative;
  }

/*HEADER*/

.header{
    width: 100%;
    margin: auto;
    display: grid;
}

.imagen-header{
    width: 100%;
    height: 10rem;
    position: absolute;
}

.contenedor-bandera-y-nombre{
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1;
}

.bandera-pais{
    width: 10rem;
    justify-self: start;
    
}

.nombre-pais{
    font-size: 3.5rem;
    justify-self: end;
    align-self: start;
    color: var(--blanco-1);
}

@media (max-width: 600px) {
    .imagen-header{
        height: 8rem;
    }
    .bandera-pais{
        width: 8rem;
    }
    .nombre-pais{
        font-size: 2.2rem;
    }
  }

/*CONTENEDOR IMAGEN PORTADA E INFO PAÍS*/

.contenedor-foto-informacion{
    width: 90%;
    margin: auto;
    display: grid;
    margin-top: 1rem;

    grid-template-columns: repeat(2, minmax(15rem, 1fr));
    grid-gap: 1rem;
}

@media (max-width: 900px) {
    .contenedor-foto-informacion{
        grid-template-columns: 1fr;
    }
  }

.imagen-portada{
    width: 100%;
    min-height: 15rem;
    size: cover;
    border-radius: 10px;
    align-self: center;
}

@media (max-width: 600px) {
    .imagen-portada{
        min-height: 10rem;
    }
  }

.info-pais{
    width: 100%;
    margin: auto;
    display: grid;
    color: var(--gris-2);
    justify-content: center;
    align-content: center;
    grid-gap: 1rem;
    border-radius: 10px;
}

.bloque{
    display: grid;
    grid-gap: 0.5rem;
}

.organizador-tipo-destino{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(1rem, 1fr));
}

.tipo-destino{
    display: grid;
    text-align: center;
}

@media (max-width: 450px) {
    .palabra-tipo-destino{
        font-size: 0.8rem;
    }
  }

/*CONTENEDOR RELACIONADOS*/

.contenedor-relacionados{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(Auto-fill, minmax(17rem, 1fr));
}

@media (max-width: 900px) {
    .contenedor-relacionados{
        margin-top: 1.5rem;
    }
  }

.caja-relacionados{
    height: 2rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--blanco-1);;

    display: grid;
    justify-items: center;
    align-items: center;
}

.caja-relacionados:hover{
    background-color: var(--primary-color-hard);
}

/*FOOTER*/

footer{
    width: 100%;
    display: grid;
    margin: auto;
    background-color: var(--primary-color);
    height: 2rem;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;

}


.copy{
    color: white;
}