/*COLORES Y SETEOS GENERALES SE MODIFICAN DESDE color-y-seteos-generales.css*/

/*HEADER*/

.header{
    width: 100%;
    margin: auto;
    display: grid;
}

.imagen-header{
    width: 100%;
    height: 10rem;
    position: absolute;
}

.contenedor-fotoportada{
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    display: grid;
    z-index: 1;
}

.foto-portada{
    width: 9rem;
    margin-top: 1rem;
    justify-self: start;
    border-radius: 50%;
    border: solid 3px white;   
}

@media (max-width: 600px) {
    .imagen-header{
        height: 8rem;
    }
    .foto-portada{
        width: 8rem;
        justify-self: center; 
    }
  }

/*Subtitulo*/

.contenedor-nombre-pagina-y-bajada{
    width: 90%;
    margin: auto;
    display: grid;
    position: relative;
    bottom: 2rem;
}

@media (max-width: 600px) {
    .contenedor-nombre-pagina-y-bajada{
        margin-top: 3rem;
    }
  }

.nombre-pagina{
    font-size: 2.5rem;
    justify-self: center;
    text-align: center;
    color: var(--gris-2);
}

.subtitulo{
    font-weight: 400;
    text-align: center;
    color: var(--gris-3);
    margin-top: 0.5rem;
}

/*Botones continentes*/

.bloque-continente{
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
}

.button-continente{
    height: 2rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    color: var(--blanco-1);
    border: none;

    display: grid;
    justify-items: center;
    align-items: center;
}

.button-continente:hover{
    background-color: var(--primary-color-hard);
}

/*Botones países*/

.bloque-autogenerador{
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));

}

@media (max-width: 600px) {
    .bloque-autogenerador{
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    }
}

.contenedor-autogenerado{
    height: 15rem;
    background-size: cover;
    border-radius: 10px;
    text-decoration: none;
    padding: 1rem;
    box-shadow: 0.3rem 0.3rem 0.8rem 0.2rem rgb(99, 99, 99);

    display: grid;
}

.bandera{
    width: 5rem;
    border-radius: 50%;
    justify-self: start;
}

.nombre-pais{
    font-size: 2rem;
    color: var(--blanco-1);
    font-weight: 700;
    justify-self: center;
}

.barra-pais{
    width: 4rem;
    height: 0.2rem;
    background-color: var(--accent-color);
    justify-self: center;
}

.contenedor-autogenerado:hover .bandera{
    width: 6rem;
    transform: rotate(2deg);
}

.contenedor-autogenerado:hover .nombre-pais{
    font-size: 2.5rem;
    transform: rotate(2deg);
}

.contenedor-autogenerado:hover .barra-pais{
    width: 6rem;
    transform: rotate(2deg);
}

/*Continentes deshabilitads por que no los visité todavía*/

.africa{
    display: none;
}

.oceania{
    display: none;
}